flow.json
[{"id":"e996350b.832c98","type":"tab","label":"Datenbank","disabled":false,"info":""},{"id":"1b874ec7.647051","type":"tab","label":"QR-CODE-Erkennung","disabled":false,"info":""},{"id":"b70d0ca.03dd6f","type":"ui_tab","z":"","name":"Objektscannen","icon":"my_library_add","disabled":false,"hidden":false},{"id":"424f812b.cb071","type":"ui_group","z":"","name":"QRCODE","tab":"b70d0ca.03dd6f","order":1,"disp":true,"width":"4","collapse":false},{"id":"a119af1f.45688","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"86c5baed.df3308","type":"function","z":"e996350b.832c98","name":"QRCODE-TO-IMAGE","func":"var qr = global.get(\"qrcode\");\n\nqr.toFile('alex.png', msg.objekt_id, {\n  color: {\n    dark: '#000',  // Blue dots\n    light: '#FFFF' // Transparent background\n  }\n}, function (err) {\n  if (err) throw err\n  // console.log('done')\n})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":160,"wires":[["870dbae1.ae6a38"]]},{"id":"336fb801.5ba0a8","type":"inject","z":"e996350b.832c98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":160,"wires":[["bea3f90f.1aa428"]]},{"id":"7e94cbdf.dbcc74","type":"ui_button","z":"e996350b.832c98","name":"","group":"424f812b.cb071","order":0,"width":0,"height":0,"passthru":false,"label":"made Code","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":170,"y":200,"wires":[["bea3f90f.1aa428"]]},{"id":"f0d5f80b.b9e5a8","type":"ui_toast","z":"e996350b.832c98","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"Cancel","raw":false,"topic":"","name":"","x":1090,"y":260,"wires":[[]]},{"id":"bea3f90f.1aa428","type":"function","z":"e996350b.832c98","name":"Generiert-Id","func":"var uniqid = global.get(\"uniqid\");\n\n\n//msg.payload = uniqid();\nmsg.objekt_id = uniqid();\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":160,"wires":[["86c5baed.df3308"]]},{"id":"13970430.04395c","type":"function","z":"e996350b.832c98","name":"QRCODE-TO-STRING","func":"var qr = global.get(\"qrcode\");\n\nmsg.payload = qr.toString(msg.objekt_id, function (err, string) {\n  if (err) throw err\n  console.log(string)\n})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":160,"wires":[[]]},{"id":"39dc88b9.a66ae8","type":"file in","z":"e996350b.832c98","name":"","filename":"alex.png","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":920,"y":160,"wires":[["70c87baf.9dc4e4"]]},{"id":"870dbae1.ae6a38","type":"delay","z":"e996350b.832c98","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":160,"wires":[["39dc88b9.a66ae8"]]},{"id":"70c87baf.9dc4e4","type":"debug","z":"e996350b.832c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":440,"wires":[]},{"id":"e9d3f95.7b3f408","type":"Barcode Decoder","z":"1b874ec7.647051","name":"","data":"payload","dataType":"msg","tryharder":"false","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":1210,"y":280,"wires":[["9c87c76b.e67f28"]]},{"id":"9c87c76b.e67f28","type":"debug","z":"1b874ec7.647051","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1410,"y":280,"wires":[]},{"id":"3ec7515a.7cf9be","type":"inject","z":"1b874ec7.647051","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"leicht.jpg","payloadType":"str","x":300,"y":260,"wires":[["c2e34d7.a3dd8b"]]},{"id":"7e5bc9b8.b7c178","type":"image viewer","z":"1b874ec7.647051","name":"","width":160,"data":"payload","dataType":"msg","x":790,"y":500,"wires":[[]]},{"id":"d1b765d7.7bd1f8","type":"inject","z":"1b874ec7.647051","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"schwer.jpg","payloadType":"str","x":300,"y":300,"wires":[["c2e34d7.a3dd8b"]]},{"id":"c2e34d7.a3dd8b","type":"function","z":"1b874ec7.647051","name":"examplepfad","func":"var examplepfad = 'reddata/qrcode/example/';\n\nmsg.payload = examplepfad + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":280,"wires":[["7e5bc9b8.b7c178","da66346b.c9bf68"]]},{"id":"2d68d9a3.f7cac6","type":"comment","z":"1b874ec7.647051","name":"Beispiel","info":"","x":270,"y":200,"wires":[]},{"id":"545087e0.61fe18","type":"catch","z":"1b874ec7.647051","name":"","scope":["e9d3f95.7b3f408"],"uncaught":false,"x":1170,"y":340,"wires":[[]]},{"id":"78abdd93.b6db24","type":"comment","z":"1b874ec7.647051","name":"Leicht","info":"","x":1170,"y":240,"wires":[]},{"id":"da66346b.c9bf68","type":"jimp-image","z":"1b874ec7.647051","name":"","data":"payload","dataType":"msg","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"greyscale","selectedJimpFunction":{"name":"greyscale","fn":"greyscale","description":"remove colour from the image","parameters":[]},"x":1000,"y":420,"wires":[["3549bb50.de0bc4"]]},{"id":"3549bb50.de0bc4","type":"jimp-image","z":"1b874ec7.647051","name":"","data":"payload","dataType":"msg","ret":"b64","parameter1":"1080","parameter1Type":"num","parameter2":"-1","parameter2Type":"num","parameter3":"","parameter3Type":"none","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":3,"jimpFunction":"resize","selectedJimpFunction":{"name":"resize","fn":"resize","description":"resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).","parameters":[{"name":"w","type":"num|auto","required":true,"hint":"the width to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"h","type":"num|auto","required":true,"hint":"the height to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"mode","type":"resizeMode","required":false,"hint":"a scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":1150,"y":420,"wires":[["f0bf7b46.090a58"]]},{"id":"f0bf7b46.090a58","type":"image viewer","z":"1b874ec7.647051","name":"","width":160,"data":"payload","dataType":"msg","x":1370,"y":420,"wires":[[]]}]