flow.json
[{"id":"e996350b.832c98","type":"tab","label":"Datenbank","disabled":false,"info":""},{"id":"1b874ec7.647051","type":"tab","label":"QR-CODE-Erkennung","disabled":false,"info":""},{"id":"5ae51f8b.72da3","type":"tab","label":"Log-Problem","disabled":false,"info":""},{"id":"d174f89f.c8c908","type":"tab","label":"Sortierdaten","disabled":false,"info":""},{"id":"d7260486.178958","type":"subflow","name":"Log","info":"","category":"","in":[{"x":180,"y":80,"wires":[{"id":"c9f3d932.f20a58"}]}],"out":[],"env":[{"name":"Name","type":"str","value":""},{"name":"Beschreibung","type":"str","value":""},{"name":"Fehler","type":"bool","value":"false"},{"name":"Changelog","type":"bool","value":"false"}],"color":"#FFAAAA","icon":"node-red/file-out.svg"},{"id":"bcd77a45.da80a8","type":"subflow","name":"msg.lastupdate | msg.zeit | msg.datum","info":"","category":"","in":[{"x":300,"y":80,"wires":[{"id":"8250529d.b3d32"}]}],"out":[{"x":740,"y":80,"wires":[{"id":"8250529d.b3d32","port":0}]}],"env":[],"color":"#3FADB5"},{"id":"8bfdcc44.b9071","type":"group","z":"1b874ec7.647051","name":"QRCODE-Working not Good","style":{"label":true},"nodes":["e9d3f95.7b3f408","545087e0.61fe18","78abdd93.b6db24","3549bb50.de0bc4","e48b9b9.2c47368","409c4db8.1213a4","895c178f.882dd8","4a64e882.b36278","71fc9197.9b231","1adadadd.829805","96280050.0150b","800d89d0.bf8e98","7dd95244.05844c","b794def8.fcfbe","5997cb83.5bf884","86074fcd.d06d5"],"x":974,"y":979},{"id":"b70d0ca.03dd6f","type":"ui_tab","z":"","name":"Objektscannen","icon":"my_library_add","disabled":false,"hidden":false},{"id":"424f812b.cb071","type":"ui_group","z":"","name":"QRCODE","tab":"b70d0ca.03dd6f","order":1,"disp":true,"width":"4","collapse":false},{"id":"a119af1f.45688","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"77dac091.a5f0d","type":"ui_group","z":"","name":"Objekteigenschaft","tab":"b70d0ca.03dd6f","order":2,"disp":true,"width":"6","collapse":false},{"id":"35994989.c85586","type":"ui_group","z":"","name":"Löschen","tab":"b70d0ca.03dd6f","order":3,"disp":true,"width":"6","collapse":false},{"id":"336fb801.5ba0a8","type":"inject","z":"e996350b.832c98","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":260,"wires":[["bea3f90f.1aa428"]]},{"id":"7e94cbdf.dbcc74","type":"ui_button","z":"e996350b.832c98","name":"","group":"424f812b.cb071","order":0,"width":0,"height":0,"passthru":false,"label":"made Code","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":300,"wires":[["bea3f90f.1aa428"]]},{"id":"f0d5f80b.b9e5a8","type":"ui_toast","z":"e996350b.832c98","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":910,"y":260,"wires":[[]]},{"id":"bea3f90f.1aa428","type":"function","z":"e996350b.832c98","name":"Generiert-Id","func":"var uniqid = global.get(\"uniqid\");\n\n\n//msg.payload = uniqid();\nmsg.objekt_id = uniqid();\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":260,"wires":[["13970430.04395c"]]},{"id":"13970430.04395c","type":"function","z":"e996350b.832c98","name":"QRCODE-TO-STRING","func":"var qr = global.get(\"qrcode\");\n\n\nqr.toString( msg.objekt_id ,{type:'svg'}, function (err, url) {\n  msg.payload = url;\n})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":260,"wires":[["f0d5f80b.b9e5a8"]]},{"id":"70c87baf.9dc4e4","type":"debug","z":"e996350b.832c98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":360,"wires":[]},{"id":"e9d3f95.7b3f408","type":"Barcode Decoder","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"","data":"payload","dataType":"msg","tryharder":"false","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":1130,"y":1060,"wires":[["4a64e882.b36278"]]},{"id":"3ec7515a.7cf9be","type":"inject","z":"1b874ec7.647051","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"leicht.jpg","payloadType":"str","x":280,"y":440,"wires":[["c2e34d7.a3dd8b"]]},{"id":"d1b765d7.7bd1f8","type":"inject","z":"1b874ec7.647051","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"schwer.jpg","payloadType":"str","x":280,"y":480,"wires":[["c2e34d7.a3dd8b"]]},{"id":"c2e34d7.a3dd8b","type":"function","z":"1b874ec7.647051","name":"examplepfad","func":"var examplepfad = 'reddata/qrcode/example/';\n\nmsg.payload = examplepfad + msg.payload;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":460,"wires":[["c582a0f.0d1646"]]},{"id":"2d68d9a3.f7cac6","type":"comment","z":"1b874ec7.647051","name":"Beispiel","info":"","x":250,"y":380,"wires":[]},{"id":"545087e0.61fe18","type":"catch","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"","scope":["e9d3f95.7b3f408"],"uncaught":false,"x":1090,"y":1200,"wires":[["71fc9197.9b231"]]},{"id":"78abdd93.b6db24","type":"comment","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"Leicht","info":"","x":1090,"y":1020,"wires":[]},{"id":"3549bb50.de0bc4","type":"jimp-image","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"","data":"payload","dataType":"msg","ret":"b64","parameter1":"720","parameter1Type":"num","parameter2":"-1","parameter2Type":"num","parameter3":"","parameter3Type":"none","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":3,"jimpFunction":"resize","selectedJimpFunction":{"name":"resize","fn":"resize","description":"resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).","parameters":[{"name":"w","type":"num|auto","required":true,"hint":"the width to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"h","type":"num|auto","required":true,"hint":"the height to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"mode","type":"resizeMode","required":false,"hint":"a scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":1450,"y":1200,"wires":[["e48b9b9.2c47368"]]},{"id":"e48b9b9.2c47368","type":"Barcode Decoder","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"","data":"payload","dataType":"msg","tryharder":"false","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":1610,"y":1200,"wires":[["4a64e882.b36278"]]},{"id":"409c4db8.1213a4","type":"debug","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"qrdata","targetType":"msg","statusVal":"","statusType":"auto","x":2210,"y":1060,"wires":[]},{"id":"895c178f.882dd8","type":"comment","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"Mittle","info":"","x":1090,"y":1160,"wires":[]},{"id":"4a64e882.b36278","type":"change","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"payload --> qrdata","rules":[{"t":"set","p":"qrdata","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1950,"y":1060,"wires":[["409c4db8.1213a4"]]},{"id":"c582a0f.0d1646","type":"function","z":"1b874ec7.647051","name":"Set-flow-var: qrimagepfad","func":"\nflow.set(\"qrimagepfad\", msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":280,"wires":[["a31028d1.22fa68"]]},{"id":"baf687d.fbd9678","type":"comment","z":"1b874ec7.647051","name":"Start","info":"","x":690,"y":180,"wires":[]},{"id":"71fc9197.9b231","type":"function","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"Get-flow-var: qrimagepfad","func":"msg.payload = flow.get(\"qrimagepfad\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":1200,"wires":[["3549bb50.de0bc4"]]},{"id":"1adadadd.829805","type":"catch","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"","scope":["e48b9b9.2c47368"],"uncaught":false,"x":1090,"y":1340,"wires":[["96280050.0150b"]]},{"id":"96280050.0150b","type":"function","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"Get-flow-var: qrimagepfad","func":"msg.payload = flow.get(\"qrimagepfad\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1290,"y":1340,"wires":[["5997cb83.5bf884"]]},{"id":"800d89d0.bf8e98","type":"comment","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"Schwer","info":"","x":1086,"y":1297,"wires":[]},{"id":"7dd95244.05844c","type":"file","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"","filename":"test.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":1740,"y":1340,"wires":[[]]},{"id":"89769982.04c868","type":"debug","z":"1b874ec7.647051","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2090,"y":340,"wires":[]},{"id":"b794def8.fcfbe","type":"inject","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1080,"y":1380,"wires":[["96280050.0150b"]]},{"id":"5997cb83.5bf884","type":"jimp-image","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"","data":"payload","dataType":"msg","ret":"b64","parameter1":"720","parameter1Type":"num","parameter2":"-1","parameter2Type":"num","parameter3":"","parameter3Type":"none","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":3,"jimpFunction":"resize","selectedJimpFunction":{"name":"resize","fn":"resize","description":"resize the image. One of the w or h parameters can be set to automatic (\"Jimp.AUTO\" or -1).","parameters":[{"name":"w","type":"num|auto","required":true,"hint":"the width to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"h","type":"num|auto","required":true,"hint":"the height to resize the image to (or \"Jimp.AUTO\" or -1)"},{"name":"mode","type":"resizeMode","required":false,"hint":"a scaling method (e.g. Jimp.RESIZE_BEZIER)"}]},"x":1470,"y":1340,"wires":[["86074fcd.d06d5"]]},{"id":"5f0f4f33.fc0a9","type":"exec","z":"1b874ec7.647051","command":"","addpay":true,"append":"","useSpawn":"false","timer":"5","oldrc":false,"name":"","x":1130,"y":280,"wires":[[],[],[]]},{"id":"a31028d1.22fa68","type":"function","z":"1b874ec7.647051","name":"ffmpeg","func":"// ffmpeg -i input.jpg -vf scale=320:-1 output_320.png\nvar start = \"ffmpeg -i \";\nvar input = '~/'+msg.payload;\nvar settings = ' -vf scale=600:-1 ';\nvar output = '~/reddata/cache/qrcache.jpg';\n\nmsg.payload = start+input+settings+output\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":970,"y":280,"wires":[["5f0f4f33.fc0a9"]]},{"id":"86074fcd.d06d5","type":"base64","z":"1b874ec7.647051","g":"8bfdcc44.b9071","name":"","action":"","property":"payload","x":1600,"y":1340,"wires":[["7dd95244.05844c"]]},{"id":"c5fd2ca0.138a5","type":"function","z":"1b874ec7.647051","name":"Get-flow-var: qrimagepfad","func":"msg.payload = flow.get(\"qrimagepfad\");\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2350,"y":280,"wires":[["8b09b292.0f7"]]},{"id":"d1302586.bfc8b8","type":"exec","z":"1b874ec7.647051","command":"zbarimg -q ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1610,"y":360,"wires":[["8a9e7a5a.f76838"],[],[]]},{"id":"ea07656d.096368","type":"complete","z":"1b874ec7.647051","name":"","scope":["5f0f4f33.fc0a9"],"uncaught":false,"x":1150,"y":360,"wires":[["9ba18beb.473b68"]]},{"id":"9ba18beb.473b68","type":"change","z":"1b874ec7.647051","name":"~/reddata/cache/qrcache.jpg","rules":[{"t":"set","p":"payload","pt":"msg","to":"~/reddata/cache/qrcache.jpg","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":360,"wires":[["d1302586.bfc8b8"]]},{"id":"8a9e7a5a.f76838","type":"function","z":"1b874ec7.647051","name":"QR-Code: ( Delet String)","func":"msg.payload = msg.payload.slice(8) \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1830,"y":340,"wires":[["89769982.04c868","f63c638.23ae8a","952d257.fdf71d8"]]},{"id":"f63c638.23ae8a","type":"exec","z":"1b874ec7.647051","command":"rm -f ~/reddata/cache/*.jpg","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2140,"y":400,"wires":[[],[],[]]},{"id":"6e77e678.92bf78","type":"inject","z":"1b874ec7.647051","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1160,"y":400,"wires":[["9ba18beb.473b68"]]},{"id":"952d257.fdf71d8","type":"change","z":"1b874ec7.647051","name":"payload --> qrdata","rules":[{"t":"set","p":"qrdata","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2110,"y":280,"wires":[["c5fd2ca0.138a5"]]},{"id":"8b09b292.0f7","type":"change","z":"1b874ec7.647051","name":"payload --> qrimagepfad","rules":[{"t":"set","p":"qrimagepfad","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2610,"y":280,"wires":[["ed6e640f.a95628"]]},{"id":"ac3ef200.dec9b","type":"link in","z":"1b874ec7.647051","name":"QR-CODE-Erkennung","links":[],"x":300,"y":280,"wires":[["c582a0f.0d1646"]],"outputLabels":["QR-CODE Bildpfad"],"l":true},{"id":"ed6e640f.a95628","type":"link out","z":"1b874ec7.647051","name":"QR-CODE-Erkennung-Out","links":[],"x":2880,"y":280,"wires":[],"l":true},{"id":"718015ca.28ea2c","type":"catch","z":"1b874ec7.647051","name":"","scope":null,"uncaught":false,"x":1140,"y":500,"wires":[[]]},{"id":"2cf69e1.2ed7f62","type":"comment","z":"e996350b.832c98","name":"Show-QR-Code","info":"","x":170,"y":200,"wires":[]},{"id":"2e4a56de.32c00a","type":"inject","z":"e996350b.832c98","name":"","props":[{"p":"objekt_id","v":"fdssssssssssssssssssssssssssssssssssssssssssssssssseAEEEEEAAEWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWG","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":490,"y":340,"wires":[["13970430.04395c"]]},{"id":"5be6c408.3eaa4c","type":"function","z":"e996350b.832c98","name":"Scale-QR-CODE","func":"var qrsvg = msg.payload.slice(39);\nvar begin = '<svg style=\"width: 120%; overflow: hidden\" ';\n//let i = msg.payload.indexOf('<path')\n//var qrsvg = msg.payload.slice(i);\n//var begin = '<svg style=\"width: 200%; overflow: visible\" viewBox=\"0 0 -1 -1\" shape-rendering=\"crispEdges\">';\n\nmsg.payload = begin+qrsvg;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":360,"wires":[["70c87baf.9dc4e4"]]},{"id":"4f414243.02b6bc","type":"comment","z":"e996350b.832c98","name":"Versuch für Größer Darstellung","info":"","x":960,"y":320,"wires":[]},{"id":"86c5baed.df3308","type":"function","z":"e996350b.832c98","name":"QRCODE-TO-IMAGE","func":"var qr = global.get(\"qrcode\");\n\nqr.toFile('alex.png', msg.objekt_id, {\n  color: {\n    dark: '#000',  // Blue dots\n    light: '#FFFF' // Transparent background\n  }\n}, function (err) {\n  if (err) throw err\n  // console.log('done')\n})\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":140,"wires":[[]]},{"id":"26b0b2da.ee6c7e","type":"ui_switch","z":"e996350b.832c98","name":"","label":"Struktur/Relief","tooltip":"","group":"77dac091.a5f0d","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":660,"wires":[[]]},{"id":"b843d42d.78d7d8","type":"comment","z":"e996350b.832c98","name":"Objekteigenschaft","info":"","x":210,"y":560,"wires":[]},{"id":"e9b002a5.b408e","type":"ui_switch","z":"e996350b.832c98","name":"","label":"Muster/Bemalt/Textur","tooltip":"","group":"77dac091.a5f0d","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":220,"y":700,"wires":[[]]},{"id":"821cd9b2.046318","type":"ui_text_input","z":"e996350b.832c98","name":"","label":"Motiv/Muster","tooltip":"Kurzbeschreibung","group":"77dac091.a5f0d","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":190,"y":620,"wires":[[]]},{"id":"529cff32.80337","type":"fs-ops-mkdir","z":"d174f89f.c8c908","name":"ObjektOrdner","path":"sammlungpfad","pathType":"flow","dirname":"ordnername","dirnameType":"msg","mode":"777","fullpath":"directory","fullpathType":"msg","x":440,"y":360,"wires":[["c07759db.4e8eb8"]]},{"id":"da16faa7.ff2aa8","type":"inject","z":"d174f89f.c8c908","name":"Testname -> msg.ordnername","props":[{"p":"ordnername","v":"27239499_TestOrdner","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":180,"y":360,"wires":[["529cff32.80337"]]},{"id":"54f08a94.ac5ca4","type":"start-up-trigger","z":"d174f89f.c8c908","x":140,"y":100,"wires":[["dc258e5f.6d2d1"]]},{"id":"dc258e5f.6d2d1","type":"change","z":"d174f89f.c8c908","name":"","rules":[{"t":"set","p":"sammlungpfad","pt":"flow","to":"reddata/data/sammlung","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":100,"wires":[[]]},{"id":"eed236cd.f19d08","type":"comment","z":"d174f89f.c8c908","name":"Start-Variablen","info":"","x":140,"y":40,"wires":[]},{"id":"9e5d0a75.2d5318","type":"inject","z":"d174f89f.c8c908","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":160,"wires":[["dc258e5f.6d2d1"]]},{"id":"1c9ff97a.8d9df7","type":"inject","z":"d174f89f.c8c908","name":"Testname","props":[{"p":"ordnername","v":"27239499_TestOrdner","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":120,"y":660,"wires":[["2b3a1997.1a30d6"]]},{"id":"15dd252c.13c9fb","type":"exec","z":"d174f89f.c8c908","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":690,"y":660,"wires":[[],[],[]]},{"id":"b022d458.aab118","type":"function","z":"d174f89f.c8c908","name":"RemoveFolder","func":"p = flow.get(\"sammlungpfad\");\no = '/' + msg.ordnername;\ncmd = 'rm -r ';\n\nmsg.payload = cmd+p+o;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":660,"wires":[["15dd252c.13c9fb"]]},{"id":"a65de193.d6cce","type":"comment","z":"d174f89f.c8c908","name":"DeletFolder","info":"","x":110,"y":600,"wires":[]},{"id":"da6046a7.b84238","type":"comment","z":"d174f89f.c8c908","name":"Erzeugt neuen Ordner für Objekt","info":"","x":170,"y":300,"wires":[]},{"id":"38477198.fe159e","type":"fs-ops-mkdir","z":"d174f89f.c8c908","name":"add: video folder","path":"objektordner","pathType":"msg","dirname":"video","dirnameType":"str","mode":"777","fullpath":"directory","fullpathType":"msg","x":910,"y":360,"wires":[[]]},{"id":"c07759db.4e8eb8","type":"function","z":"d174f89f.c8c908","name":"set: msg.objektordner","func":"p = flow.get(\"sammlungpfad\");\no = '/' + msg.ordnername;\n\nmsg.objektordner = p+o\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":360,"wires":[["38477198.fe159e","b706dde1.ad9fd","11c99be2.a346f4","46173071.b19f8"]]},{"id":"b706dde1.ad9fd","type":"fs-ops-mkdir","z":"d174f89f.c8c908","name":"add: gif folder","path":"objektordner","pathType":"msg","dirname":"gif","dirnameType":"str","mode":"777","fullpath":"directory","fullpathType":"msg","x":900,"y":400,"wires":[[]]},{"id":"11c99be2.a346f4","type":"fs-ops-mkdir","z":"d174f89f.c8c908","name":"add: bilder folder","path":"objektordner","pathType":"msg","dirname":"bilder","dirnameType":"str","mode":"777","fullpath":"directory","fullpathType":"msg","x":910,"y":440,"wires":[[]]},{"id":"46173071.b19f8","type":"fs-ops-mkdir","z":"d174f89f.c8c908","name":"add: grafik folder","path":"objektordner","pathType":"msg","dirname":"grafik","dirnameType":"str","mode":"777","fullpath":"directory","fullpathType":"msg","x":910,"y":480,"wires":[[]]},{"id":"3ee6b46e.272c1c","type":"ui_toast","z":"d174f89f.c8c908","position":"top right","displayTime":"3","highlight":"","sendall":false,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":1390,"y":780,"wires":[]},{"id":"2b3a1997.1a30d6","type":"change","z":"d174f89f.c8c908","name":"","rules":[{"t":"set","p":"deletfolder","pt":"flow","to":"ordnername","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":660,"wires":[["b022d458.aab118"]]},{"id":"3ce04829.428a68","type":"fs-ops-access","z":"d174f89f.c8c908","name":"","path":"sammlungpfad","pathType":"flow","filename":"deletfolder","filenameType":"flow","read":true,"write":true,"throwerror":false,"x":690,"y":760,"wires":[["a62ba448.76f328"],["ca9a8842.1f0288"]]},{"id":"4a958beb.d57134","type":"complete","z":"d174f89f.c8c908","name":"","scope":[],"uncaught":false,"x":490,"y":760,"wires":[["3ce04829.428a68"]]},{"id":"ca9a8842.1f0288","type":"change","z":"d174f89f.c8c908","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"deletfolder","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":780,"wires":[["ee2b7176.396f5"]]},{"id":"ee2b7176.396f5","type":"function","z":"d174f89f.c8c908","name":"Message: Erfolgreich gelöscht","func":"msg.payload = \"Ordner <b>\" +msg.payload+\"</b> wurde gelöscht.\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":780,"wires":[["3ee6b46e.272c1c"]]},{"id":"fc40e488.aea3b8","type":"function","z":"d174f89f.c8c908","name":"Message: Ups gelöscht","func":"msg.payload = '<iframe src=\"https://giphy.com/embed/mrBEVU9zQIsZa\" width=\"480\" height=\"270\" frameBorder=\"0\" class=\"giphy-embed\" allowFullScreen></iframe></p>Ups Ordner/Objekt <b>' +msg.payload+'</b><br>ist ein Überlebenskünstler und wurde noch nicht gelöscht.'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1130,"y":740,"wires":[["25d87f74.8afc7"]]},{"id":"a62ba448.76f328","type":"change","z":"d174f89f.c8c908","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"deletfolder","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":740,"wires":[["fc40e488.aea3b8"]]},{"id":"25d87f74.8afc7","type":"ui_toast","z":"d174f89f.c8c908","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"","name":"","x":1330,"y":740,"wires":[[]]},{"id":"c27974c5.f06a98","type":"ui_button","z":"d174f89f.c8c908","name":"","group":"35994989.c85586","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":490,"y":800,"wires":[["3ce04829.428a68"]]},{"id":"8bad0a85.ac7d48","type":"function","z":"d174f89f.c8c908","name":"","func":"var currentDate = new Date();\nvar zeit = currentDate.toLocaleTimeString();\nvar date = currentDate.getDate();\nvar month = currentDate.getMonth(); //January is 0 not 1\nvar year = currentDate.getFullYear();    \n\nmsg.lastupdate =zeit +\" \"+ date + \"-\" +(month + 1) + \"-\" + year;\nmsg.zeit = zeit;\nmsg.datum = date + \"-\" +(month + 1) + \"-\" + year;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":930,"y":880,"wires":[["273d5f90.2e73e"]]},{"id":"f1fb8da7.30de6","type":"inject","z":"d174f89f.c8c908","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":740,"y":880,"wires":[["8bad0a85.ac7d48"]]},{"id":"273d5f90.2e73e","type":"debug","z":"d174f89f.c8c908","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"lastupdate","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":880,"wires":[]},{"id":"8250529d.b3d32","type":"function","z":"bcd77a45.da80a8","name":"msg.lastupdate | msg.zeit | msg.datum","func":"var currentDate = new Date();\nvar zeit = currentDate.toLocaleTimeString();\nvar date = currentDate.getDate();\nvar month = currentDate.getMonth(); //January is 0 not 1\nvar year = currentDate.getFullYear();    \n\nmsg.lastupdate =zeit +\" \"+ date + \"-\" +(month + 1) + \"-\" + year;\nmsg.zeit = zeit;\nmsg.datum = date + \"-\" +(month + 1) + \"-\" + year;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":80,"wires":[[]]},{"id":"ea0bc639.6bb808","type":"subflow:d7260486.178958","z":"d174f89f.c8c908","name":"","env":[{"name":"Name","value":"Test-Nachricht","type":"str"},{"name":"Beschreibung","value":"Nur zum Test","type":"str"}],"x":910,"y":960,"wires":[]},{"id":"592d76b8.013bb8","type":"ui_toast","z":"d7260486.178958","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Okay","cancel":"Ignorieren","raw":false,"topic":"","name":"","x":1430,"y":80,"wires":[[]]},{"id":"c9f3d932.f20a58","type":"change","z":"d7260486.178958","name":"","rules":[{"t":"set","p":"Name","pt":"msg","to":"Name","tot":"env"},{"t":"set","p":"Beschreibung","pt":"msg","to":"Beschreibung","tot":"env"},{"t":"set","p":"Fehler","pt":"msg","to":"Fehler","tot":"env"},{"t":"set","p":"Changelog","pt":"msg","to":"Changelog","tot":"env"},{"t":"set","p":"Info","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":80,"wires":[["2f5a969d.96410a"]]},{"id":"2f5a969d.96410a","type":"subflow:bcd77a45.da80a8","z":"d7260486.178958","name":"","env":[],"x":610,"y":80,"wires":[["5faaf3f7.8abddc"]]},{"id":"8ccebf53.cb10a","type":"debug","z":"d7260486.178958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Name","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":260,"wires":[]},{"id":"9586111f.a306","type":"debug","z":"d7260486.178958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Beschreibung","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":300,"wires":[]},{"id":"7815400.b1477c","type":"inject","z":"d174f89f.c8c908","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Information","payloadType":"str","x":720,"y":960,"wires":[["ea0bc639.6bb808"]]},{"id":"14119c55.453334","type":"switch","z":"d7260486.178958","name":"Fehler?","property":"Fehler","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1100,"y":80,"wires":[["10066a7.f387096"]]},{"id":"d2fcce64.3f1d1","type":"file","z":"d7260486.178958","name":"","filename":"reddata/log/project.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1340,"y":160,"wires":[[]]},{"id":"5faaf3f7.8abddc","type":"function","z":"d7260486.178958","name":"msg.schreiben","func":"// msg.lastupdate\n// msg.zeit\n// msg.datum\nvar type = \"Log\";\n\nif(msg.Changelog){type = \"Changelog\";}\nif(msg.Fehler){type = \"Fehler\";}\n\nmsg.schreiben = type + ' | ' + msg.lastupdate + ' | ' + msg.Name + ' | ' + msg.Info + ' | ' + msg.Beschreibung\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":880,"y":80,"wires":[["14119c55.453334","71234526.55011c"]]},{"id":"71234526.55011c","type":"change","z":"d7260486.178958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"schreiben","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":160,"wires":[["d2fcce64.3f1d1"]]},{"id":"10066a7.f387096","type":"change","z":"d7260486.178958","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"schreiben","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":80,"wires":[["592d76b8.013bb8"]]},{"id":"84af01c9.bd3ef","type":"subflow:d7260486.178958","z":"d174f89f.c8c908","name":"","env":[{"name":"Name","value":"Test-Nachricht","type":"str"},{"name":"Beschreibung","value":"Nur zum Test","type":"str"},{"name":"Fehler","value":"true","type":"bool"}],"x":910,"y":1000,"wires":[]},{"id":"22cfba7c.a80736","type":"inject","z":"d174f89f.c8c908","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Information","payloadType":"str","x":720,"y":1000,"wires":[["84af01c9.bd3ef"]]}]